<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="generator" content="qair" />
    <title>
        {{#upload?}}Upload{{/upload}}
        {{#upload?}}{{#download_filename}}/{{/download_filename}}{{/upload}}
        {{#download_filename}}Download{{/download_filename}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            background-color: #ffffff;
            color: #000000;
            padding: 1em;
            margin: 0;
        }
        html {
            background-color: #cccccc;
        }
        @media screen and (min-width: 50em) {
            body {
                width: 50em;
                margin: auto;
            }   
        }
        #uploadButton, #file, #download {
            padding: 2em;
        }
        #download {
            display: inline-block;
        }
        #file, #download {
            border: 1px solid #3333ee;
            background-color: #eeeeff;
        }
        #file:hover, #download:hover {
            background-color: #f5f5ff;
            border: 1px solid #5050f0;
        }
        .statusText {
            padding-right: 0.5em;
            max-height: 1em !important;            
            vertical-align: baseline;
            text-align: center;
        }
        .filenameTd {
            word-break: break-word;
            position: relative;
            background-color: #f8f8f8;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
        
        tr.queued span {
            display: none;
        }
        
        tr.inProgress .retryButton {
            display: none;
        }
        tr.inProgress span {
            display: none;
        }
        
        tr.error span {
            display: none;
        }
        
        tr.done .filenameTd {
            background-color: #ddffdd;
        }
        tr.done .retryButton {
            display: none;
        }
        
        tr {
            height: 2em;
        }
        .retryButton {
            height: 100%;
        }
        .statusTd {
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
    <script type="text/javascript">
    
        const UploadState = {
            QUEUED: "queued",
            INPROGRESS: "inProgress",
            ERROR: "error",
            DONE: "done"
        }
    
        class Upload {
            constructor(file) {
                if (file == null) {
                    throw "Invalid argument";
                }
                this._file = file;
                this._req = null;
                this._stateChangeCallback = null;
                this._progressCallback = null;
                this._state = UploadState.QUEUED;
                this._transferred = 0;
                this._size = null;
            }
            
            start() {
                if (this._file == null) {
                    throw "Invariant violated";
                }
                
                if (this._req == null) {
                    this._req = new XMLHttpRequest();
                }
                this._req.open("PUT", this._file.name);
                this._req.upload.addEventListener("progress", this._on_xfer_progress.bind(this), false);
                this._req.onreadystatechange = this._on_xfer_statechange.bind(this);
                this._req.send(this._file);
                
                this._setState(UploadState.INPROGRESS);
            }
            
            filename() {
                return this._file.name;
            }
            
            state() {
                return this._state;
            }
            
            _setState(newState) {
                this._state = newState;
                if (this._stateChangeCallback != null) {
                    this._stateChangeCallback();
                }
            }
            
            // Number of bytes to transfer (including done), or null if unknown.
            size() {
                return this._size;
            }
            
            transferred() {
                return this._transferred;
            }
            
            registerStateChangeCallback(callback) {
                this._stateChangeCallback = callback;
            }
            
            registerProgressCallback(callback) {
                this._progressCallback = callback;
            }
            
            _on_xfer_progress(event) {
                if (event.lengthComputable == false) {
                    this._size = null;
                } else {
                    this._size = event.total;
                }
                this._transferred = event.loaded;
                if (this._progressCallback != null) {
                    this._progressCallback();
                }
            }
            
            _on_xfer_statechange(event) {
                if (this._req == null) {
                    throw "State change without event";
                }
                if (this._req.readyState == XMLHttpRequest.DONE) {
                    if (this._req.status == 200) {
                        this._setState(UploadState.DONE);
                    } else {
                        this._setState(UploadState.ERROR);
                    }
                }
            }
        }
        
        class UploadUi {
            constructor(upload) {
                if (upload == null) {
                    throw "Invalid argument";
                }
                
                this._upload = upload;
                this._filenameTd = null;
                this._tr = null;
                
                this._init();
            }
            
            _init() {
                this._buildDom();

                this._upload.registerStateChangeCallback(this._onStateChange.bind(this));
                this._upload.registerProgressCallback(this._onXferProgress.bind(this));
            }
            
            _buildDom() {
                var tr = document.createElement("tr");
                tr.classList.add("queued");
                
                var filenameTd = document.createElement("td");
                tr.appendChild(filenameTd);
                filenameTd.classList.add("filenameTd");
                filenameTd.innerText = this._upload.filename();
                
                var statusTd = document.createElement("td");
                tr.appendChild(statusTd);
                statusTd.classList.add("statusTd");
                
                var button = document.createElement("button");
                button.onclick = this._retry.bind(this);
                statusTd.appendChild(button);
                button.classList.add("retryButton");
                button.innerText = "▶";
                
                var statusText = document.createElement("span");
                statusTd.appendChild(statusText);
                statusText.innerText = "✓";
                statusText.classList.add("statusText");
                
                this._tr = tr;
                this._filenameTd = filenameTd;
                
                var table = document.getElementById("uploadTable");
                table.prepend(tr);
            }
            
            _retry() {
                this._upload.start();
            }
            
            // integer between 0 and 100.
            _percentDone() {
                var size = this._upload.size();
                var done = this._upload.transferred();
                if (size == null) {
                    return 0;
                } else if (done >= size) {
                    return 100;
                } else {
                    return Math.floor(done / size * 100);
                }
            }
            
            _updateProgressBar() {
                var fg;
                var bg;
                
                if (this._upload.state() == UploadState.INPROGRESS) {
                    fg = "#88ee88";
                    bg = "#ddddff";
                } else if (this._upload.state() == UploadState.ERROR) {
                    fg = "#ff8888";
                    bg = "#ffdddd";
                } else {
                    this._filenameTd.style.cssText = "";
                    return;
                }
                
                var percentDone = this._percentDone();
                
                this._assertSafe(percentDone);
                this._assertSafe(fg);
                this._assertSafe(bg);
                this._filenameTd.style.cssText = "background: linear-gradient(90deg, " +
                    fg + " " + percentDone + "%, " +
                    bg + " " + percentDone + "% 100%" +
                    ")";
            }
            
            _assertSafe(text) {
                var regex = /^[a-zA-Z0-9_\-\#]*$/;
                var found = String(text).match(regex);
                if (found == null) {
                    throw "Unsafe";
                }
            }
            
            _onXferProgress() {
                this._updateProgressBar();
            }
            
            _onStateChange() {
                this._changeUiState(this._tr, this._upload.state());
                this._updateProgressBar();
            }
            
            _changeUiState(uiElement, uiState) {
                var classes = ["queued", "done", "error", "inProgress"];
                if (! classes.includes(uiState)){
                    throw "Invalid argument";
                }
                for (var i = 0; i < classes.length; i++) {
                    uiElement.classList.remove(classes[i]);
                }
                uiElement.classList.add(uiState);
            }
        }

        function highlight(domElement) {
            var isAnimationSupported = typeof domElement.animate == "function";
            if (isAnimationSupported) {
                var originalBackgroundColor = window.getComputedStyle(domElement).getPropertyValue('background-color');
                domElement.animate([
                    { backgroundColor: '#ffaaaa' }, 
                    { backgroundColor: originalBackgroundColor }
                ], {
                    duration: 500
                });
            }
        }

        function upload() {
            var domFile = document.getElementById("file");

            if (domFile.files.length == 0) {
                highlight(domFile);
                return;
            }
            
            for (var i = 0; i < domFile.files.length; i++) {
                var upload = new Upload(domFile.files[i]);
                new UploadUi(upload);
                upload.start();
            }
        }
    </script>
</head>
<body>
    {{#upload?}}
        Upload:<br />
        <input id="file" type="file" name="file" multiple />
        <input id="uploadButton" type="button" onclick="upload()" value="Upload" autocomplete="off" /><br />
        <table id="uploadTable">
        </table>
        <br />
    {{/upload}}
    {{#download_filename}}
        Download:<br />
        <a href="{{.}}" download><div id="download">{{.}}</div></a>
    {{/download_filename}}
    {{^upload?}}
        {{^download_filename}}
        Both uploading and downloading are disallowed.
        Not sure why anyone would want that, but ok.
        {{/download_filename}}
    {{/upload}}
</body>
</html>

